<div id='col_top_five_book_ban'>Top 5 books</div>

<table>
<% @top_five.each_with_index do |book,i| %>	
<tr>
	<td><%= image_tag (book.photo_s3, :width => '50') %></td>
	<td style=" width:100%; text-align:left"><%= i+1 %>. <br/>
	<%= truncate book.title, :length => 20 %><br/>
	</br>
	<%= book.popularity %> user(s)<br>
</tr>
<% end %>
</table>

